@each $theme in var(--themes) {
    .$(theme)__eventCoverNoPhoto {
        background-color: env(--$(theme)__primary-color);
    }
}

.cardWrapper {
    padding: 8px 8px 8px 2px;
}

.card {
    border-radius: 8px;
    background-color: #fff;
}

.eventCoverNoPhoto {
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}
    .eventCoverNoPhotoFloat {
        position: absolute;
        top: 49px;
        align-items: center;
    }

.cardContent {
    padding: 8px;
}