%slideContent {
    border: 6px solid #eee;
    position: relative;
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
}

.sliderWrapper {
}
    .slider {
        justify-content: center;
    }

        .slideContent {
            @extend %slideContent;
        }
        .slideContentRectangle {
            @extend %slideContent;
            padding-top: 48px;
        }
        .slideImage {
            width: 260px;
            height: 260px;
        }
        .slideImageRectangle {
            width: 100%;
            height: 200px;
        }
        .slideTitle {
            font-size: 22px;
            text-align: center;
            margin-bottom: 8px;
        }
        .slideDescription {
            text-align: justify
        }

.paginationContainer {
    padding: 16px 4px;
}

.paginationDot {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin-left: 8px;
    margin-right: 8px;
}