
.page {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
