.coverWrapper {
    justify-content: center;
    align-items: center;
}
    .coverWrapperEditIcon {
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        align-content: center;
        z-index: 10;
        border-radius: 0 0 0 8px;
    }
    .coverWrapperEditIconAction {
        padding: 8px 8px 10px 12px;
    }