%btn {
    padding: 8px;
    border-radius: 6px;
}

.btn {
    @extend %btn;
    border: 2px solid #ccc;
    background-color: #ccc;

}

    .btnText {
        color: #000;
        text-align: center;
    }

.btnFb {
    @extend %btn;
    background-color: #3b5998;
    border: 2px solid #3b5998;
}
    .btnFbText {
        color: #fff;
        text-align: center;
    }

.btnClear {
    @extend %btn;
}
    .btnClearText {
        color: #fff;
        text-align: center;
    }

.btnPrimary {
    @extend %btn;
    background-color: #386624;
    border: 2px solid #386624;
}
    .btnPrimaryText {
        color: #fff;
        text-align: center;
    }

.button__border {
    background-color: transparent;
    border: 2px solid #ccc;
}

.button__border__text {
    color: #888;
    text-align: center;
}