.page {
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.emptyWrapper {
    @extend .page;
    height: 100%;
    justify-content: center;
    align-items: center;
    //background-color: red;
}

.emptyImage {
    width: 300px;
    height: 200px;
}

.listItem {
    padding: 8px 16px;
}

.hr {
    height: 2px;
    background-color: #ccc;
}
