.map {
    width: 100%;
}

%float {
    position: absolute;
    width: 100%;
    z-index: 10;
}

@each $theme in var(--themes) {
    .$(theme)__eventsSubTitle {
        color: env(--$(theme)__primary-color);
    }
}

.eventsSubTitle {
    font-weight: bold;
    margin-bottom: 8px;
}

.mapHeaderOptions {
    @extend %float;
    flex-direction: row;
    top: 36px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.mapHeaderOptionsLocation {
    border-radius: 12px;
    padding: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mapHeaderOptionsButton {
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.mapContent {
    @extend %float;
    border-radius: 12px 12px 0 0;
    padding-bottom: 16px;
}
    .mapContentTitleWrapper {
        padding: 16px;
    }
    .mapContentTitle {
        flex-direction: row;
        align-items: center;
    }
        .mapContentTitleText {
            font-size: 18px;
            font-weight: bold;
        }

    .mapContentHeader {
        flex-direction: row;
        padding: 0 16px;
    }
        .mapContentHeaderButton {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            padding: 8px 12px;
            margin-right: 16px;
        }
