
.inputWrapper {
    flex-direction: row;
    padding: 8px 0;
    align-items: center;
    margin-bottom: 4px;
}
.inputWrapperColumns {
    padding: 8px 16px;
    margin-bottom: 4px;
}
    .inputWrapperLabelTitleColumn {
        font-weight: bold;
    }
    .inputWrapperLabelTitle {
        font-weight: bold;
        margin-left: 16px;
    }

    .inputWrapperLabel {
        font-weight: bold;
        margin-right: 16px;
    }
    .inputWrapperInput {
        flex: 1;
        justify-content: center;
        align-self: center;
        padding: 8px 16px;
    }

.hr {
    height: 1px;
    left: 0;
    width: 100%;
}

.locationWrapper {
    background-color: #fff;
}

.listItemEmpty {
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.listItem {
    padding: 16px;
}
    .listItemHr {
        background-color: #ccc;
        height: 1px;
        width: 100%;
    }