.page {
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .75);
}

.logo {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}
