.listItem {
    padding: 16px;
    flex-direction: row;
    align-items: center;
}
    .listItemIconWrapper {
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
    }

    .listItemHr {
        background-color: #ccc;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }