.profileAvatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.profileCover {
    width: 100%;
    height: 120px;
}

.page {
}

.editProfileContent {
    padding: 0 16px;
    top: -34px;
}

.photoWrapper {
    align-items: center;
    top: -50px;
}

.hr {
    background-color: #ccc;
    height: 1px;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
}

.hrTitle {
    background-color: #ccc;
    height: 2px;
}

.inputWrapper {
    flex-direction: row;
    padding: 8px 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}
    .inputWrapperLabelTitle {
        font-weight: bold;
        margin: 16px 0;
    }

    .inputWrapperLabel {
        font-weight: bold;
        margin-right: 16px;
    }
    .inputWrapperInput {
        flex: 1;
        justify-content: center;
        align-self: center;
    }
