@each $theme in var(--themes) {
    .$(theme)__headerTextName {
        font-weight: bold;
        color: env(--$(theme)__primary-color);
    }
    .$(theme)__headerTextBio {
        padding: 8px 16px 16px 16px;
        text-align: left;
        color: env(--$(theme)__text-color--bio);
    }
    
    .$(theme)__headerTextFollowingNumber {
        font-weight: bold;
        text-align: center;
    }
    .$(theme)__headerTextFollowing {
    }
}

.header {
    width: 100%;
    flex-direction: row;
    padding: 0 8px;
}

    .headerCover {
        width: 100%;
        height: 120px;
    }

    .headerPhoto {
        align-self: flex-start;
        padding-right: 8px;
        align-items: center;
        top: -40px;
        height: 80px;
    }
        .headerPhotoSocial {
            flex-direction: row;
            justify-content: center;
            margin-top: 8px;
        }
            .headerPhotoSocialIcon {
                margin: 0 8px;
            }
    .headerText {
        flex: 1;
        align-self: center;
        padding: 0 8px;
        align-items: center;

    }
        .headerFollowers {
            flex-direction: row;
        }
    .headerSocialWrapper {

    }

.headerTextFollowingWrapper {
    flex: 1;
}       

.content {
    margin-top: 16px;
}

.tabMapAdd {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    flex-direction: row;
    z-index: 10;
    justify-content: center;
}

.tabMapTypes {
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    flex-direction: row;
    z-index: 10;
    justify-content: center;
}

    .tabMapBtnLeft {
        border-radius: 4px 0 0 4px;
    }
    .tabMapBtnRight {
        border-radius: 0 4px 4px 0;
    }

.btnEdit {
    align-self: center;
}

.profileAvatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.mapWrapper {
    padding: 0 16px;
    margin-bottom: 16px;
}
    .mapWrapperIcon {
        position: absolute;
        top: 0;
        right: 16px;
        z-index: 10;
        background-color: #ccc;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-radius: 0 12px 0 12px;
    }

.map {
    width: 100%;
    position: relative;
    border-radius: 12px;
}
.profileTabs {
    flex-direction: row;
    width: 100%;
    align-items: center;
}
    .profileTabsButton {
        padding: 20px;
        align-items: center;
        flex: 1;
        background-color: #eee;
    }
        .profileTabsButtonText {
            color: #000;
        }

    .profileTabsContent {
        flex-direction: row;
        flex-wrap: wrap;
    }
        .profileTabsContentPicture {
            width: 33.3%;
        }
            .profilePic {
                width: 100%;
                height: 80px;
            }


