.option {
    flex-direction: row;
    align-items: center;
}

    .optionContent {
        align-content: center;
        flex: 4;
    }

.dropdown {
    background-color: red;
    position: absolute;
    left: 0;
    height: 180px;
    border-radius: 12px 12px 0 0;
}
